{{ define "about" }}
<div class="sectionContainer" id="about">
  <div style="width:100%">
    <h2>
      > ABOUT
    </h2>
  </div>
  <div class="aboutText">
    <p>Rococcoon@computer:~$ whoami</p>
    <br/>

    <p><b># Output:</b></p>
    <p><b>Name:</b> Lukas</p>
    <p><b>Distro:</b> Debian 12 (Stable)</p>
    <p><b>WM:</b> Sway (Tiling, Efficient)</p>
    <p><b>Editor:</b> nvim (Vim-based, Powerful)</p>
    <br/>

    <p><b># Experience:</b></p>
    <p><b>Tree Planter:</b> seasons = 10, treesPlanted = 1.25million</p>
    <p><b>Wildfire Fighter:</b> seasons = 5</p>
    <p><b>Ski/Bike Patrol:</b> seasons = 5</p>
    <br/>

    <p><b># Skills:</b></p>
    <p><b>Languages:</b> [bash, c, css, golang, HTML, javascript, SQL]</p>
    <p><b>Frameworks:</b> [HTMX, Postgress, Raylib, React]</p>
    <p><b>Tools:</b> [docker, git]</p>
    <br/>

    <p><b># Goals:</b> [Have fun, Solve problems];</p>
    <br/>

    <p><b># Connect:</b></p>
    <p><b>GitHub:</b> [https://www.github.com/Rococcoon]</p>
    <p><b>Email:</b> [lmyhal47@gmail.com]</p>
    <br/>

    <p>Rococcoon@computer:~$ </p>
  </div>
  <div class="dashed-line-lg"></div>
</div>
{{ end }}
