{{ define "credits" }}
<div class="sectionContainer" id="credits">
  <div style="width:100%">
    <h2>> Thanks</h2>
  </div>
  <div>
    <p>
      <b>Dark Light Toggle:</b> From Uiverse.io by Emil190313
    </p>
    <br/>
    <p>
      <b>Hex-Spinner:</b> From Uiverse.io by 3la2aAlbedawi
    </p>
    <br/>
    <p>
      <b>Design Inspired By:</b>
      <a 
        class="linkInLine"
        href="https://edh.dev/" 
        target="_blank" 
        rel="noopener noreferrer">
        https://edh.dev/
      </a>
    </p>
    <br/>
    <p>
      <b>Color Scheme:</b>
      <a 
        class="linkInLine"
        href="https://rosepinetheme.com/"
        target="_blank" 
        rel="noopener noreferrer">
        Rose Pine
      </a>
    </p>
    <br/>
  </div>
  <div class="dashed-line-lg"></div>
</div>
{{ end }}
