{{ define "projects" }}
<div class="sectionContainer">
  <div style="width:100%">
    <h2>>
      PROJECTS
    </h2>
  </div>
  <div class="projectContainer">
    <h3>Personal Web Page</h3>
    <div class="skillsContainer">
      <h6>GOLANG</h6>
      <h6>WEB COMPONENTS</h6>
      <h6>HTMX</h6>
      <h6>CSS</h6>
      <h6>HTML</h6>
    </div>
    <div class="dashed-line-sm"></div>
    <div class="textContainer">
      <p>
        This project was an experiment in <b>HTMX</b>, <b>Web Components</b>, and <b>HATEOAS-driven design</b>, exploring how hypermedia can drive web applications without the complexity of client-side state management. Instead of following the common <b>React-style model</b>, where the frontend mutates state separately from the server, I focused on a hypermedia-first approach, allowing the server to dictate application state through structured responses.
      </p>
      <br/>
      <p>
        One of the biggest challenges was <b>fighting against encapsulation</b> when integrating Web Components with HTMX. Shadow DOM is great for isolating styles and behavior, but it also breaks hypermedia’s natural ability to update the page fluidly. To reconcile this, I experimented with <b>light DOM rendering</b>, selectively exposing elements where necessary to keep HTMX's declarative updates intact.
      </p>
      <br/>
      <p>
        This project deepened my appreciation for <b>Go’s efficiency in server-side rendering</b>, the power of <b>hypermedia-driven architecture</b>, and the importance of <b>knowing when to enhance with JavaScript versus letting the server do the heavy lifting</b>.
      </p>
    </div>
    <div class="projectLinkContainer">
      <p>View it on github:</p>
      <a href="https://www.github.com/Rococcoon/personal-web-page" target="_blank" class="linkIcon">
        <theme-aware-icon icon="github-mark" width="30" height="30"></theme-aware-icon>
      </a>
    </div>
  </div>
  <div class="dashed-line-md"></div>
  <div class="projectContainer">
    <h3>Personal Web Page</h3>
    <div class="skillsContainer">
      <h6>GOLANG</h6>
      <h6>WEB COMPONENTS</h6>
      <h6>HTMX</h6>
      <h6>CSS</h6>
      <h6>HTML</h6>
    </div>
    <div class="dashed-line-sm"></div>
    <div class="textContainer">
      <p>
        This project was an experiment in <b>HTMX</b>, <b>Web Components</b>, and <b>HATEOAS-driven design</b>, exploring how hypermedia can drive web applications without the complexity of client-side state management. Instead of following the common <b>React-style model</b>, where the frontend mutates state separately from the server, I focused on a hypermedia-first approach, allowing the server to dictate application state through structured responses.
      </p>
      <br/>
      <p>
        One of the biggest challenges was <b>fighting against encapsulation</b> when integrating Web Components with HTMX. Shadow DOM is great for isolating styles and behavior, but it also breaks hypermedia’s natural ability to update the page fluidly. To reconcile this, I experimented with <b>light DOM rendering</b>, selectively exposing elements where necessary to keep HTMX's declarative updates intact.
      </p>
      <br/>
      <p>
        This project deepened my appreciation for <b>Go’s efficiency in server-side rendering</b>, the power of <b>hypermedia-driven architecture</b>, and the importance of <b>knowing when to enhance with JavaScript versus letting the server do the heavy lifting</b>.
      </p>
    </div>
    <div class="projectLinkContainer">
      <p>View it on github:</p>
      <a href="https://www.github.com/Rococcoon/personal-web-page" target="_blank" class="linkIcon">
        <theme-aware-icon icon="github-mark" width="30" height="30"></theme-aware-icon>
      </a>
    </div>
  </div>
  <div class="dashed-line-md"></div>
  <div class="projectContainer">
    <h3>Personal Web Page</h3>
    <div class="skillsContainer">
      <h6>GOLANG</h6>
      <h6>WEB COMPONENTS</h6>
      <h6>HTMX</h6>
      <h6>CSS</h6>
      <h6>HTML</h6>
    </div>
    <div class="dashed-line-sm"></div>
    <div class="textContainer">
      <p>
        This project was an experiment in <b>HTMX</b>, <b>Web Components</b>, and <b>HATEOAS-driven design</b>, exploring how hypermedia can drive web applications without the complexity of client-side state management. Instead of following the common <b>React-style model</b>, where the frontend mutates state separately from the server, I focused on a hypermedia-first approach, allowing the server to dictate application state through structured responses.
      </p>
      <br/>
      <p>
        One of the biggest challenges was <b>fighting against encapsulation</b> when integrating Web Components with HTMX. Shadow DOM is great for isolating styles and behavior, but it also breaks hypermedia’s natural ability to update the page fluidly. To reconcile this, I experimented with <b>light DOM rendering</b>, selectively exposing elements where necessary to keep HTMX's declarative updates intact.
      </p>
      <br/>
      <p>
        This project deepened my appreciation for <b>Go’s efficiency in server-side rendering</b>, the power of <b>hypermedia-driven architecture</b>, and the importance of <b>knowing when to enhance with JavaScript versus letting the server do the heavy lifting</b>.
      </p>
    </div>
    <div class="projectLinkContainer">
      <p>View it on github:</p>
      <a href="https://www.github.com/Rococcoon/personal-web-page" target="_blank" class="linkIcon">
        <theme-aware-icon icon="github-mark" width="30" height="30"></theme-aware-icon>
      </a>
    </div>
  </div>
  <div class="dashed-line-md"></div>
  <div class="projectContainer">
    <h3>Personal Web Page</h3>
    <div class="skillsContainer">
      <h6>GOLANG</h6>
      <h6>WEB COMPONENTS</h6>
      <h6>HTMX</h6>
      <h6>CSS</h6>
      <h6>HTML</h6>
    </div>
    <div class="dashed-line-sm"></div>
    <div class="textContainer">
      <p>
        This project was an experiment in <b>HTMX</b>, <b>Web Components</b>, and <b>HATEOAS-driven design</b>, exploring how hypermedia can drive web applications without the complexity of client-side state management. Instead of following the common <b>React-style model</b>, where the frontend mutates state separately from the server, I focused on a hypermedia-first approach, allowing the server to dictate application state through structured responses.
      </p>
      <br/>
      <p>
        One of the biggest challenges was <b>fighting against encapsulation</b> when integrating Web Components with HTMX. Shadow DOM is great for isolating styles and behavior, but it also breaks hypermedia’s natural ability to update the page fluidly. To reconcile this, I experimented with <b>light DOM rendering</b>, selectively exposing elements where necessary to keep HTMX's declarative updates intact.
      </p>
      <br/>
      <p>
        This project deepened my appreciation for <b>Go’s efficiency in server-side rendering</b>, the power of <b>hypermedia-driven architecture</b>, and the importance of <b>knowing when to enhance with JavaScript versus letting the server do the heavy lifting</b>.
      </p>
    </div>
    <div class="projectLinkContainer">
      <p>View it on github:</p>
      <a href="https://www.github.com/Rococcoon/personal-web-page" target="_blank" class="linkIcon">
        <theme-aware-icon icon="github-mark" width="30" height="30"></theme-aware-icon>
      </a>
    </div>
  </div>
  <div class="dashed-line-lg"></div>
</div>
{{ end }}
